{%- if section.settings.background_type == 'boxed' -%}
  {%- assign is_boxed = true -%}
{%- else -%}
  {%- assign is_boxed = false -%}
{%- endif -%}

<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    {%- if section.settings.button_background == 'rgba(0,0,0,0)' -%}
      {%- assign button_background = settings.primary_button_background -%}
    {%- else -%}
      {%- assign button_background = section.settings.button_background -%}
    {%- endif -%}

    {%- if section.settings.button_text_color == 'rgba(0,0,0,0)' -%}
      {%- assign button_text_color = settings.primary_button_text_color -%}
    {%- else -%}
      {%- assign button_text_color = section.settings.button_text_color -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --primary-button-background: {{ button_background.red }}, {{ button_background.green }}, {{ button_background.blue }};
    --primary-button-text-color: {{ button_text_color.red }}, {{ button_text_color.green }}, {{ button_text_color.blue }};

    --section-accent-background: {{ section.settings.accent_background.red }} {{ section.settings.accent_background.green }} {{ section.settings.accent_background.blue }} / {{ section.settings.accent_background.alpha }};
    --section-autoplay-duration: {{ section.settings.cycle_speed }}s;
    --section-animation-play-state: paused;
  }

  {%- if section.settings.background_overlap != 'both' -%}
    /* We have to remove some extra spacing adding in non-overlap mode */
    @media screen and (max-width: 999px) {
      {%- if section.settings.background_overlap == 'image' -%}
        {%- unless is_boxed -%}
          #shopify-section-{{ section.id }} .section {
            margin-top: 0;
          }

          #shopify-section-{{ section.id }} .image-with-text {
            margin-bottom: calc(-1 * var(--vertical-breather)) !important;
          }
        {%- else -%}
          #shopify-section-{{ section.id }} .image-with-text {
            margin-bottom: calc(-1 * var(--container-gutter)) !important;
          }
        {%- endunless -%}
      {%- elsif section.settings.background_overlap == 'text' -%}
        {%- unless is_boxed -%}
          #shopify-section-{{ section.id }} .section {
            margin-bottom: 0;
          }

          #shopify-section-{{ section.id }} .image-with-text {
            margin-top: calc(-1 * var(--vertical-breather)) !important;
          }
        {%- else -%}
          #shopify-section-{{ section.id }} .image-with-text {
            margin-top: calc(-1 * var(--container-gutter)) !important;
          }
        {%- endunless -%}
      {%- endif -%}
    }
  {%- endif -%}
  .custom-first-section{
    height:696px;
    background-color:#FEF9E9;
    padding:76px 142px 75px 153px;
  }

  .image-with-text-wrapper{
    height:100%;
    display:flex;
    align-items:center;
  }

  .image-with-text__image{
    width: 502px;
    height: 545px;
    margin-right:171px;
  }
  .text-section{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:472px;
    margin-bottom:14px;
  }

  .first-section-title{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.02em;
    margin-bottom:40px;
  }

  .first-section-paragraph{
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    text-align: center;
    letter-spacing: 0.08em;
    margin-top:0;
    margin-bottom:11px;
  }
  .first-section-link{
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    text-decoration-line: underline;
  }

  /* tablet */
  @media screen and (min-width:700px) and (max-width:1200px){
    .custom-first-section{
      padding:40px 20px;
    }
    .image-with-text-wrapper{
      justify-content:space-around;
    }

    .image-with-text__image{
      width: 350px;
      height: 400px;
      margin-right:0px;
    }

    .text-section{
      padding:10px;
    }

    .first-section-paragraph{
      font-size: 14px;
    }


  }

  /* mobile */
  @media screen and (max-width:690px){
    .custom-first-section{
      width:100%;
      height:937px;
      padding:62px 33px 0px 32px;
    }

    .image-with-text-wrapper{
      display:flex;
      align-items:center;
      flex-direction: column;
      height:min-content;
    }

    .image-with-text__image{
      width: 325px;
      height: 383px;
      margin-right:0;
      margin-bottom: 61px;
    }

    .text-section{
      width:287px;
      padding:0;
      margin:0;
    }

    .first-section-title{
      font-size: 20px;
      margin-bottom:34px;
    }
    .first-section-paragraph{
      font-size: 14px;
      margin-bottom:34px;
      line-height: 20px;
    }

    .first-section-link{
      font-size: 14px;
    }

  }
</style>
<section class="custom-first-section">
  <div class="image-with-text-wrapper">
    {%- assign first_image_aspect_ratio = first_block.settings.image.aspect_ratio | default: 1 -%}
    {%- assign image_count = 0 -%}
    {%- for block in section.blocks -%}
      {%- if block.settings.image != blank -%}
        <img
          class="image-with-text__image"
          {% render 'image-attributes', image: block.settings.image, sizes: '600,700,800,1000,1200,1400' %}
          alt=""
        >
      {%- endif -%}
    {%- endfor -%}
    <div class="text-section">
      <h1 class="first-section-title">VIRTUAL TRY ON</h1>
      <p class="first-section-paragraph">
        Try before you buy with our Virtual Try-On glasses experience! Our virtual glasses fitting, powered by
        true-to-scale technology, provides a realistic view of how the frame will look on your face, allowing you to try
        eyeglasses online. Try it today on some of our most popular styles.
      </p>
      <a class="first-section-link">FIND YOUR PERFECT FIT</a>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Image with text",
  "class": "shopify-section--image-with-text",
  "max_blocks": 2,
  "settings": [
    {
      "type": "checkbox",
      "id": "reveal_on_scroll",
      "label": "Reveal on scroll",
      "info": "Show animation when section becomes visible.",
      "default": true
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background",
      "options": [
        {
          "value": "full_width",
          "label": "Full width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ],
      "default": "full_width"
    },
    {
      "type": "select",
      "id": "background_overlap",
      "label": "Background overlap",
      "info": "Add an accent background color below.",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "text",
          "label": "Text"
        },
        {
          "value": "both",
          "label": "Both"
        }
      ],
      "default": "image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Desktop image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 20,
      "step": 1,
      "unit": "s",
      "label": "Change text every",
      "default": 8
    },
    {
      "type": "color",
      "id": "accent_background",
      "label": "Accent background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1400 x 1400px .jpg recommended"
        },
        {
          "type": "text",
          "id": "tab_label",
          "label": "Tab label",
          "info": "Only shown if 2 text blocks are set",
          "default": "Item"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use image with text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "settings": {},
      "blocks": [
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
